django-form-utils==1.0.2
django>=1.7,<=1.8
celery
docker-py
psycopg2
uwsgi
astropy==1.0.1
git+git://github.com/aplpy/aplpy.git@9d330feebec95bcf83bfa3aea273d295e1fdc363#egg=APLpy
matplotlib
filemagic
django-debug-toolbar