django-form-utils==1.0.3
django>=1.9,<1.10
celery
docker-py
psycopg2
uwsgi
astropy==1.0.1
APLpy
matplotlib
filemagic
django-debug-toolbar
kliko>=0.7,<0.8
gunicorn
djangorestframework
markdown
django-filter
django-cors-headers