{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<h3>Your username and password didn't match. Please try again.</h3>
{% endif %}


<div class="jumbotron">
    <div class="container center-block text-center">
        <h3>This action requires authorisation</h3>
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
          <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
          </div>
          <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
          </div>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>


{% endblock %}







