{% extends "base.html" %}

{%  load status %}

{%  block content %}

    <h1>Details for simulation {{ simulation.id }} </h1>
    <h2>{{ simulation.name }}</h2>

    <form>
        {% csrf_token %}
        <div class="btn-group btn-group-lg">
            <button type="submit"
                    formmethod="post"
                    formaction="{% url 'reschedule' simulation.id %}"
                    class="btn btn-warning"
                    {% if not simulation.can_reschedule %}
                    disabled="disabled"
                    {% endif %}
                    >Reschedule</button>
            <a href="{% url 'detail' simulation.id %}" class="btn btn-info btn-lg" role="button">Refresh</a>
            <a href="{% url 'delete' simulation.id %}" class="btn btn-danger btn-lg" role="button">Delete</a>

        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-lg">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Job properties</b></div>
                <div class="panel-body">
                    <ul>
                        <li><b>status:</b> <span class="label label-{{ simulation.get_task_status|status_label  }}">{{ simulation.get_task_status }}</span></li>
                        <li><b>start:</b> {{ simulation.started }}</li>
                        <li><b>finished:</b> {% if simulation.finished %}{{ simulation.finished }}{% endif %}</li>
                        <li><b>duration:</b> {% if simulation.finished %}{{ simulation.duration }}{% endif %}</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <b>uccov image</b>
                        </div>
                        {% if simulation.results_uvcov %}
                            <div class="col-md-4">
                                <a href="{{ simulation.results_uvcov.url }}"><button class="btn btn-default btn-xs">download</button></a>
                            </div>
                        {%  endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if simulation.results_lwimager_dirty %}
                        <a href="#" class="thumbnail">
                            <img src="{{ MEDIA_URL }}{{ simulation.results_uvcov }}" width="500">
                        </a>
                    {% else %}
                        <h5>not available</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <b>LWIMAGER: Dirty image</b>
                        </div>
                        {% if simulation.results_lwimager_dirty %}
                            <div class="col-md-4">
                                <form action="{{ CYBERSKA_URL }}" method="post">
                                    <input type="hidden" name="title" value="Dirty image" />
                                    {% if simulation.results_lwimager_dirty %}
                                        <input type="hidden" name="filename" value="{{ simulation.results_lwimager_dirty.file }}">
                                        <input type="submit" class="btn btn-default btn-xs" value="viewer"/>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ simulation.results_lwimager_dirty.url }}"><button class="btn btn-default btn-xs">download</button></a>
                            </div>
                        {%  endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if simulation.results_lwimager_dirty %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'dirty' %}" width="300">
                        </a>
                    {% else %}
                        <h5>not available</h5>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <b>LWIMAGER: Restored image</b>
                        </div>
                        {% if simulation.results_lwimager_restored %}
                            <div class="col-md-4">
                                <form action="{{ CYBERSKA_URL }}" method="post">
                                    <input type="hidden" name="title" value="Restored image" />
                                    <input type="hidden" name="filename" value="{{ simulation.results_lwimager_restored.file }}">
                                    <input type="submit" class="btn btn-default btn-xs" value="viewer"/>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ simulation.results_lwimager_dirty.url }}"><button class="btn btn-default btn-xs">download</button></a>
                            </div>

                        {%  endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if simulation.results_lwimager_restored %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'restored' %}" width="300">
                        </a>
                    {% else %}
                        <h5>not available</h5>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <b>LWIMAGER: Model image</b>
                        </div>
                        {% if simulation.results_lwimager_model %}
                            <div class="col-md-4">
                                <form action="{{ CYBERSKA_URL }}" method="post">
                                    <input type="hidden" name="title" value="Model image" />
                                    <input type="hidden" name="filename" value="{{ simulation.results_lwimager_model.file }}">
                                    <input type="submit" class="btn btn-default btn-xs" value="viewer"/>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ simulation.results_lwimager_dirty.url }}"><button class="btn btn-default btn-xs">download</button></a>
                            </div>
                        {%  endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if simulation.results_lwimager_model %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'model' %}" width="300">
                        </a>
                    {% else %}
                        <h5>not available</h5>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <b>LWIMAGER: Residual</b>
                        </div>
                        {% if simulation.results_lwimager_residual %}
                            <div class="col-md-4">
                                <form action="{{ CYBERSKA_URL }}" method="post">
                                    <input type="hidden" name="title" value="Residual image" />
                                    <input type="hidden" name="filename" value="{{ simulation.results_lwimager_residual.file }}">
                                    <input type="submit" class="btn btn-default btn-xs" value="viewer"/>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ simulation.results_lwimager_dirty.url }}"><button class="btn btn-default btn-xs">download</button></a>
                            </div>
                        {%  endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if simulation.results_lwimager_residual %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'residual' %}" width="300">
                        </a>
                    {% else %}
                        <h5>not available</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <b>CASA: Dirty image</b>
                        </div>
                        {% if simulation.results_casa_dirty %}
                            <div class="col-md-4">
                                <form action="{{ CYBERSKA_URL }}" method="post">
                                    <input type="hidden" name="title" value="Dirty image" />
                                    {% if simulation.results_casa_dirty %}
                                        <input type="hidden" name="filename" value="{{ simulation.results_casa_dirty.file }}">
                                        <input type="submit" class="btn btn-default btn-xs" value="viewer"/>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ simulation.results_casa_dirty.url }}"><button class="btn btn-default btn-xs">download</button></a>
                            </div>
                        {%  endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if simulation.results_casa_dirty %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'dirty' %}" width="300">
                        </a>
                    {% else %}
                        <h5>not available</h5>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <b>CASA: Restored image</b>
                        </div>
                        {% if simulation.results_casa_restored %}
                            <div class="col-md-4">
                                <form action="{{ CYBERSKA_URL }}" method="post">
                                    <input type="hidden" name="title" value="Restored image" />
                                    <input type="hidden" name="filename" value="{{ simulation.results_casa_restored.file }}">
                                    <input type="submit" class="btn btn-default btn-xs" value="viewer"/>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ simulation.results_casa_dirty.url }}"><button class="btn btn-default btn-xs">download</button></a>
                            </div>

                        {%  endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if simulation.results_casa_restored %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'restored' %}" width="300">
                        </a>
                    {% else %}
                        <h5>not available</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <b>CASA: Model image</b>
                        </div>
                        {% if simulation.results_casa_model %}
                            <div class="col-md-4">
                                <form action="{{ CYBERSKA_URL }}" method="post">
                                    <input type="hidden" name="title" value="Model image" />
                                    <input type="hidden" name="filename" value="{{ simulation.results_casa_model.file }}">
                                    <input type="submit" class="btn btn-default btn-xs" value="viewer"/>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ simulation.results_casa_dirty.url }}"><button class="btn btn-default btn-xs">download</button></a>
                            </div>
                        {%  endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if simulation.results_casa_model %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'model' %}" width="300">
                        </a>
                    {% else %}
                        <h5>not available</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-4">
                            <b>CASA: Residual</b>
                        </div>
                        {% if simulation.results_casa_residual %}
                            <div class="col-md-4">
                                <form action="{{ CYBERSKA_URL }}" method="post">
                                    <input type="hidden" name="title" value="Residual image" />
                                    <input type="hidden" name="filename" value="{{ simulation.results_casa_residual.file }}">
                                    <input type="submit" class="btn btn-default btn-xs" value="viewer"/>
                                </form>
                            </div>
                            <div class="col-md-4">
                                <a href="{{ simulation.results_casa_dirty.url }}"><button class="btn btn-default btn-xs">download</button></a>
                            </div>
                        {%  endif %}
                    </div>
                </div>
                <div class="panel-body">
                    {% if simulation.results_casa_residual %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'residual' %}" width="300">
                        </a>
                    {% else %}
                        <h5>not available</h5>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Console output</b></div>
                <div class="panel-body">
                    <div class="well" style="font-family:monospace;">{{ simulation.console|linebreaksbr }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Log file</b></div>
                <div class="panel-body">
                    <div class="well" style="font-family:monospace;">{% if simulation.log %}{{ simulation.log.file.read|linebreaksbr }}{%  endif %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Config file</b></div>
                <div class="panel-body">
                    <div class="well" style="font-family:monospace;">{{ config|linebreaksbr }}</div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}
