{% extends "base.html" %}

{%  load status %}

{%  block content %}

    <h1>Details for simulation {{ simulation.id }}</h1>

    <form>
        {% csrf_token %}
        <div class="btn-group btn-group-lg">

            <button type="submit" formmethod="post" formaction="{% url 'reschedule' simulation.id %}" class="btn btn-warning">Reschedule</button>

            <a href="{% url 'detail' simulation.id %}" class="btn btn-info btn-lg" role="button">Refresh</a>
            <a href="{% url 'delete' simulation.id %}" class="btn btn-danger btn-lg" role="button">Delete</a>
            <a href="{% url 'config' simulation.id %}" class="btn btn-default btn-lg" role="button">Config</a>

        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-lg">

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Dirty image</div>
                <div class="panel-body">
                    {% if simulation.results_dirty %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'dirty' %}" width="600">
                        </a>
                    {% else %}
                        <h3>not available</h3>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Restored image</div>
                <div class="panel-body">
                    {% if simulation.results_restored %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'restored' %}" width="600">
                        </a>
                    {% else %}
                        <h3>not available</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Job properties</div>
                <div class="panel-body">
                    <ul>
                        <li><b>ID:</b> {{ simulation.id }}</li>
                        <li><b>status:</b> <span class="label label-{{ simulation.get_state_display|status_label  }}">{{ simulation.get_state_display }}</span></li>
                        <li><b>celery status:</b> <span class="label label-default">{{ simulation.get_task_status }}</span></li>
                        <li><b>start:</b> {{ simulation.started }}</li>
                        <li><b>finished:</b> {{ simulation.finished }}</li>
                        <li><b>duration:</b> {{ simulation.duration }}</li>
                        <li><b>name:</b> {{ simulation.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Model image</div>
                <div class="panel-body">
                    {% if simulation.results_model %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'model' %}" width="600">
                        </a>
                    {% else %}
                        <h3>not available</h3>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Residual image</div>
                <div class="panel-body">
                    {% if simulation.results_residual %}
                        <a href="#" class="thumbnail">
                            <img src="{% url 'fits' simulation.id 'residual' %}" width="600">
                        </a>
                    {% else %}
                        <h3>not available</h3>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Uvcov image</div>
                <div class="panel-body">
                    {% if simulation.results_dirty %}
                        <a href="#" class="thumbnail">
                            <img src="{{ MEDIA_URL }}{{ simulation.results_uvcov }}" width="500">
                        </a>
                    {% else %}
                        <h3>not available</h3>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Log file</div>
                <div class="panel-body">
                    <div class="well" style="font-family:monospace;">{{ simulation.log|linebreaksbr }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Config file</div>
                <div class="panel-body">
                    <div class="well" style="font-family:monospace;">{{ config|linebreaksbr }}</div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}