{% extends "base.html" %}

{%  block content %}

    <h1>Create new simulation</h1>

    {% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {% for fieldset in form.fieldsets %}
            {% cycle '<div class="row">' '' '' %}
            <div class="col-md-4">
                <h2>{{ fieldset.description }}</h2>
                <table class="table table-striped table-condensed">
                    {% for field in fieldset %}
                        <tr><th><label for="id_name">{{ field.label }}</label></th><td>{{ field }}<br /><span class="helptext">{{ field.help_text }}</span></td></tr>
                    {% endfor %}
                </table>
            </div>
            {% cycle '' '' '</div>' %}
        {% endfor %}

        <div class="col-md-3">
            <input type="submit" value="Submit simulation" class="btn btn-primary btn-large"/>
        </div>

    </form>


{%  endblock %}