{% extends "base.html" %}

{% block create %}active{% endblock %}

{%  block content %}

    <style>
        *, *:before, *:after {box-sizing:  border-box !important;}


        .row {
            -moz-column-width: 25em;
            -webkit-column-width: 25em;
            -moz-column-gap: .5em;
            -webkit-column-gap: .5em;

        }

        .item {
            display: inline-block;
        }
    </style>


    <h1>Create new simulation</h1>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                The form contains errors:
                {{  form.errors }}
            </div>
        {% endif %}

        <div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
            <div class="row">
                {% for fieldset in form.fieldsets %}
                    <div class="item">
                        <div class="panel panel-primary">
                            <div class="panel-heading">{{ fieldset.description }}</div>
                            <div class="panel-body">
                                <table class="table table-striped table-condensed">
                                    {% for field in fieldset %}
                                        <tr>
                                            <th>
                                                <label for="id_name">{{ field.label }}</label>
                                            </th>
                                            <td>{{ field }}<br />
                                                <span class="helptext">{{ field.help_text }}</span>
                                                {% for error in field.errors %}
                                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                                {%  endfor %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div class="item">
                    <div class="col-md-offset-10 col-md-1">
                        <input type="submit" value="Submit simulation" class="btn btn-success btn-large"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

{%  endblock %}