{% extends "base.html" %}

{%  load status %}

{% block list %}active{% endblock %}

{%  block content %}

    {% if object_list %}

        <h1>List of simulations</h1>

        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>status</th>
                <th>started</th>
                <th>finished</th>
                <th>actions</th>
            </tr>
            </thead>

            {% for simulation in object_list %}
                <tr>
                    <td><a href="{%  url 'job_detail' simulation.id %}">{{ simulation.id }}</a></td>
                    <td>{{ simulation.name }}</td>
                    <td><a href="{%  url 'job_detail' simulation.id %}"><span class="label label-{{ simulation.get_task_status|status_label }}"> {{ simulation.get_task_status }}</span></a></td>
                    <td>{{ simulation.started }}</td>
                    <td>{{ simulation.finished }}</td>
                    <td>
                        <div class="btn-group">
                            <form>
                                {% csrf_token %}

                                <a href="{% url 'job_delete' simulation.id %}">
                                    <button type="button" class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </a>

                                <button type="submit" formmethod="post" formaction="{% url 'job_reschedule' simulation.id %}" class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-repeat"></span>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>

            {% endfor %}
        </table>
    {%  else %}


        <div class="jumbotron">
            <div class="container center-block text-center">
                <h1>no simulations yet!</h1>
                <a href="{% url 'form_list'  %}" class="btn btn-success btn-lg" role="button">Create simulation</a>
            </div>
        </div>
    {%  endif %}

{%  endblock %}