{% extends "base.html" %}

{% load render_bundle from webpack_loader %}

{% block list %}active{% endblock %}

{%  block content %}

    <h1>List of kliko images</h1>

    {% if object_list %}

        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>id</th>
                <th>repository</th>
                <th>tag</th>
                <th>last_updated</th>
                <th>error_message</th>
                <th>state</th>
            </tr>
            </thead>

            {% for object in object_list %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td><a href="{%  url 'job_create' object.id %}">{{ object.repository }}</a></td>
                    <td>{{ object.tag }}</td>
                    <td>{{ object.last_updated }}</td>
                    <td>{{ object.error_message }}</td>
                    <td>{{ object.get_state_display }}</td>

                    <td>
                        <div class="btn-group">

                          <form id=pull_form" action="{% url 'image_pull' object.id %}" method="post">
                                {% csrf_token %}
                            </form>
                              <a alt="create job" href="{% url 'job_create' object.id %}" class="btn btn-success btn-sm">
                                 <span class="glyphicon glyphicon-play"></span></a>
                                {%  if perms.scheduler.delete_klikoimage %}
                                 <a href="{% url 'image_delete' object.id %}" class="btn btn-danger btn-sm">
                                     <span class="glyphicon glyphicon-remove"></span></a>
                                {% endif %}

                                {%  if perms.scheduler.change_klikoimage %}
                                 <a href="{% url 'image_pull' object.id %}" class="btn btn-info btn-sm">
                                     <span class="glyphicon glyphicon-download-alt"></span></a>
                                {% endif %}

                        </div>
                    </td>
                </tr>

            {% endfor %}
        </table>
    {%  else %}
        <div class="jumbotron">
            <div class="container center-block text-center">
                <h1>no images yet!</h1>
            </div>
        </div>
    {%  endif %}

   {% if user.is_staff %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'image_create' %}"  class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus-sign"></span> Add Kliko Image</a>
        </div>
    </div>
    {%  endif %}


    <div class="row">
        <div class="col-md-12">
            <div id="container"></div>
            {% render_bundle 'main' %}
        </div>
    </div>


{%  endblock %}