{% extends "base.html" %}

{%  load status %}

{%  block content %}

<h1>List of simulations</h1>

<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>status</th>
    </tr>

    {% for simulation in object_list %}
        <tr>
            <td><a href="{%  url 'detail' simulation.id %}">{{ simulation.id }}</a></td>
            <td>{{ simulation.name }}</td>
            <td><a href="{%  url 'detail' simulation.id %}"><span class="label label-{{ simulation.get_state_display|status_label  }}">{{ simulation.get_state_display }}</span></a></span></td>
        </tr>
    {% endfor %}
</table>

{%  endblock %}