{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <title>{%  block title %}RODRIGUES - watching you simulate{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>
<body{% block bodyprops %}{% endblock %}>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="">R.O.D.R.I.G.U.E.S.</a>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'job_list' %}">List jobs</a></li>
            <li><a href="{% url 'image_list' %}">Create job</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}">admin</a></li>
            {%  endif %}

            {% if user.is_authenticated %}
                <li><a href="#">logged in as {{ user.username }}</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
        </ul>
    </div>
</nav>


<div class="container">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <strong>{{ message.tags }}:</strong> {{ message }}
        </div>
    {% endfor %}


    {%  block content %}Developer, you should overwrite this content block{% endblock %}
    <hr>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{% block extrajavascript %}{% endblock %}

</body>
</html>
