
{% extends "base.html" %}

{%  load status %}

{% block content %}

    <H3>Results for job #{{ job.id }} ({{ job.name }})</H3>

    <div class="row">
        <div class="col-md-12">

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Job properties</b></div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><b>status:</b> <span class="label label-{{ object.state|status_label }}">{{ object.get_state_display }}</span></li>
                                <li><b>start:</b> {{ object.started }}</li>
                                <li><b>finished:</b> {% if object.finished %}{{ object.finished }}{% endif %}</li>
                                <li><b>duration:</b> {% if object.finished %}{{ object.duration }}{% endif %}</li>
                                <li><b>image:</b> {{ object.image }}</li>
                                <li><b>results_dir:</b> {{ object.results_dir }}</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <form>
                                {% csrf_token %}

                                <a href="{% url 'job_reschedule' object.id %}"
                                        class="btn btn-warning"
                                        {% if not object.can_reschedule %}
                                        disabled="disabled"
                                        {% endif %}
                                >Reschedule</a>
                                <a href="{% url 'viewer' object.id %}" class="btn btn-info" role="button">Refresh</a>

                                 <a href="{% url 'job_delete' object.id %}"
                                        class="btn btn-danger"
                                        {% if not object.owner == user %}
                                        disabled="disabled"
                                        {% endif %}
                                ><span class="glyphicon glyphicon-remove"></span> Delete</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Result files</b></div>


                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>name</th>
                        <th>type</th>
                        <th>size</th>
                        <th>modified</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    {% for item in dirlist %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.type|truncatechars:60 }}</td>
                            <td>{{ item.size|filesizeformat }}</td>
                            <td>{{ item.modified }}</td>
                            <td>
                                <a href="{% url 'guesstype' pk=object.id path=item.name %}"><button class="btn btn-xs">view</button></a>
                                <a href="{{ MEDIA_URL }}/{{ object.results_dir }}/{{ item.name }}"><button class="btn btn-xs">download</button></a>

                            </td>
                        </tr>
                    {%  endfor %}
                </table>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Images</b></div>
                <div class="panel-body">
                    <div class="row">
                        {% for item in dirlist %}
                            {% if item.is_image %}
                                <div class="col-xs-6 col-md-4">
                                    <div class="thumbnail">
                                        <img src="{% url 'guesstype' pk=object.id path=item.name %}">
                                        <div class="caption">
                                            <p>{{ item.name }}</p>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <a href="{% url 'js9' pk=object.id path=item.name %}"><button class="btn">JS9</button></a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="{% url 'guesstype' pk=object.id path=item.name %}"><button class="btn">view</button></a>
                                                </div>
                                                <div class="col-md-4">
                                                    <a href="{{ MEDIA_URL }}/{{ object.results_dir }}/{{ item.name }}"><button class="btn">download</button></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {%  endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Console output</b></div>
                <div class="panel-body">
                    <div class="well" style="font-family:monospace;">{{ object.log|linebreaksbr }}</div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}

